<!-- <div style="text-align:center">
  <h1>{{ now | date: 'yyyy/MM/dd' }}</h1>
  <p>{{ person.name | uppercase }}</p>
  <p>Height: {{ height | async }}</p>
  <p>{{ person | json | uppercase }}</p>
  <p>{{ grade | roundNum: true: 10 }}</p>
  <p>{{ nums | doubleNumsPipe }}</p>
  <p *ngFor="let num of nums | doubleNumsPipe | doubleNumsPipe | doubleNumsPipe">{{ num }}</p>
</div> -->
<select [(ngModel)]="mode">
  <option value="name">Name</option>
  <option value="age">Age</option>
  <option value="height">Height</option>
</select>
<div *ngFor="let person of students | sortPerson: mode">
  <h3>Name: {{ person.name }}</h3>
  <p>Age: {{ person.age }}</p>
  <p>Height: {{ person.height }}</p>
</div>
